.collect {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.collect .cartmid {
  border-radius: 10px;
  background-color: #fff;
}
.collect .cartmid .guanli-top {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}
.collect .cartmid .cartItem {
  position: relative;
  margin-bottom: 5px;
}
.collect .cartmid .cartItem .rv-checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.collect .cartmid .cartItem .rv-product-card {
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #fff;
}
.collect .cartmid .cartItem .rv-stepper {
  color: #ff6034;
}
.collect .cartmid .cartItem .rv-stepper .rv-stepper__minus {
  color: red;
  border: 1px solid red;
}
.collect .cartmid .cartItem .rv-stepper .rv-stepper__plus {
  color: #ffffff;
  background-color: red;
  border: 1px solid red;
}
.collect .collect-btm {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}
.collect .collect-btm .removecollectbtn button {
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: #999;
  border: 1px solid #999;
  border-radius: 20px;
  font-size: 13px;
}
