.address {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 50px;
    background: #f1f1f1;
    .address_header {
        width: 100%;
        .rv-nav-bar {
            width: 100%;
            .rv-nav-bar__content {
                width: 100%;
                background-color: #ff6034;
                box-sizing: border-box;
                .rv-nav-bar__title {
                    color: #fff;
                }
                .rv-icon {
                    color: #fff;
                }
            }
        }
    }
    .rv-radio-group{
        padding: 10px;
        box-sizing: border-box;
        .item_address{
            display: flex;
            justify-content: space-between;
            position: relative;
            background-color: #fff;
            border-radius: 10px;
            padding: 5px 10px;
            box-sizing: border-box;
            margin-bottom: 5px;
            .rv-radio{
                width: 90%;
                .rv-radio__label{
                    width: 85%;
                }
                .addressItem{
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    .address_top{
                        color: #323233;
                        font-size: 16px;
                        margin-bottom: 5px;
                        .morenaddress{
                            background-color: #ee0a24;
                            color: #fff;
                            margin-left: 10px;
                            border-radius: 10px;
                            font-size: 12px;    
                            padding: 2px 4px;
                            box-sizing: border-box;
                        }
                    }
                    .address_btm{
                        color: #323233;
                        font-size: 13px;
                    }
                }
            }
            .xiugaiaddress{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
    .addressbtm{
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
}